@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=EB+Garamond:ital,wght@0,600;0,700;1,700&display=swap');


/* Indica a Tailwind 4 dónde escanear contenido (rutas relativas a este CSS) */
@source "../../*.php" "../../**/*.php";

@theme{
    /*COLORES*/
    --color-primario: #1CA1FE;
    --color-secundario: #FFEB52;
    --color-terciario: #F8FCFF;
    --color-btn: #404040;
    --color-pastel: #D1DCE5;
    --color-dark:#23242A;
    --color-light:#ffffff;
    --color-azulgris: #98B6CB;

    /* Tipografías */
    --font-sans: "Noto Sans", system-ui, sans-serif;
    --font-serif: "EB Garamond";

    /* Pesos */
    --font-weight-light: 300;   /* Noto Sans Light */
    --font-weight-regular: 400; /* Noto Sans Regular */
    --font-weight-medium: 500;  /* Noto Sans Medium */
    --font-weight-semibold: 600; /* EB Garamond SemiBold */
    --font-weight-bold: 700;    /* EB Garamond Bold Italic */

    /* Tamaño */

    --text-14:14px;
    --text-17:18px;
    --text-21: 21px;
    --text-23:23px;
    --text-24:24px;
    --text-27:27px;
    --text-64:64px;
    --text-42:42px;
    --text-36:36px;


    /* Spacers */

    --spacing-paddingm: 32px;
    --spacing-paddingm2: 16px;
    --spacing-logo-w: 30px;
    --spacing-logo-h: 37px;
    --spacing-big:120px;
    --spacing-paddingd:132px;

    /* Tamaños de elementos*/





}
@layer base {
    body {
        @apply font-sans font-regular;
    }
}
@utility h-screen-safe {
    height: 100svh;
}
.calavera{
    width: 213px;
    height: 213px;
    background: url("../images/sprites_43frames_sm-fs8.png") no-repeat;
    animation: calavera 3s steps(43) infinite;
}
@keyframes calavera{
    from{background-position:0 0}
    to{ background-position: -9209px 0;}
}